[run]
branch = True
source = src/flask_pyoidc

[paths]
source =
    src/flask_pyoidc
    */site-packages/flask_pyoidc

[report]
exclude_lines =
    raise NotImplementedError()
    if __name__ == .__main__.: 
ignore_errors = True
omit =
    tests/*
    setup.py
show_missing = true
precision = 2
